*{margin: 0;padding: 0;}
a{text-decoration: none;}
main{
    text-align: center;
}
#main{
    display: inline-block;
}
#main > div > kbd{
    border: solid red 1px;
    display: inline-block;
    text-transform: uppercase;
    width: 3em;
    height: 3em;
    margin: 2px;
    position: relative;
}
kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}